<html>
  <head>
    <style>
      .outer {
      display: table;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      }

      .middle {
      display: table-cell;
      vertical-align: middle;
      }

      .inner {
      margin-left: auto;
      margin-right: auto;
      width: 600px;
      /*whatever width you want*/
      }
    </style>
  </head>
  <body>
    <div class="outer">
      <div class="middle">
	<div class="inner">
	  <div align="center">
	    <h1>An error occured!</h1>
	    <img src="/static/giphy.gif">
	    <p><a href="https://sp3forum.mmmoxford.uk/post/new?post_template=issue"><button style="font-size: 1em; padding: 20px; background-color: #f77; border-radius: 10px">Report an issue</button></a></p>
	    <p>Error description:</p>
	    <p>{{ error }}</p>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
