{% extends "base1.template" %}
{% block content %}

<h2>Edit user</h2>
{% for user in user_list %}
<p><a href="/admin_edit_user?username={{ user }}">{{ user }}</a></p>
{% endfor %}

<h2>Config</h2>
  <textarea style="font-family: monospace;" rows=20 class="form-control" name="config">{{ config_yaml }}</textarea>
{% endblock content %}
