{% extends "base1.template" %}
{% block content %}
<form method="POST" action="/admin">
  <button disabled style="margin: 10px; margin-left: 0px" type="submit" type="button" class="btn btn-primary">Save</button>
  <textarea style="font-family: monospace;" rows=20 class="form-control" name="config">{{ config_yaml }}</textarea>
</form>
{% endblock content %}
