{% extends "base1.template" %}
{% block content %}


<h2>Edit User</h2>

<form action='/admin_edit_user?username={{ username }}' method='POST'>
  <textarea style="width: 100%; font-family: monospace;" rows=20 class="form-control" name="user_data" id="user_data">
    {{ user_data }}
  </textarea>

  <button style="margin-top: 5px;" id="submitButton" type="submit"
	  class="btn btn-primary">Submit</button>
</form>
{% endblock %}
