<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	  crossorigin="anonymous">
	  <link rel="stylesheet" src="/static/css/site.css" />
	  <title>Oxford SP3</title>
	  <style>
	    body {
	    font-size: 0.9em;
	    padding-top: 10px;
	    }
	    pre {
	    white-space: pre-wrap;
	    }
	  </style>
	  {% block head %}
	  {% endblock head %}
  </head>

  <body>
    <div class="container">
      {% block navbar %}
	<nav style="padding: 0px"  class="navbar navbar-expand-sm navbar-light">
	  <div class="d-flex w-100 justify-content-between">
            <span id="banner">
	      <img style="width: 160px; height: 85px; float: left;" src="/static/mmmlogo_small.png">
              <h1 style="position: relative; top: 10px; left: 10px;">
		<a href="/" style="text-decoration: none; color: black">Oxford SP<sup>3</sup></a>
	      </h1>
              <p style="position: relative; left: 12px;">Oxford Scalable Pathogen Pipeline Platform</p>
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav">
		  {% if current_user.is_authenticated %}
		    <li class="nav-item" style="margin-right: 20px">
		      <a class="nav-link" href="/" style="font-size: 24px; padding-left: 0; ">Dashboard</a>
		    </li>
		  <li class="nav-item" style="margin-right: 20px">
		    <a class="nav-link" href="/fetch" style="font-size: 24px">Datasets</a>
		  </li>
		  <li class="nav-item" style="margin-right: 20px">
		    <a class="nav-link" href="/flows" style="font-size: 24px">Pipelines</a>
		  </li>
		  <li class="nav-item" style="margin-right: 20px">
		    <a class="nav-link" href="/list_trees" style="font-size: 24px">Trees</a>
		  </li>
		  <li class="nav-item" style="margin-right: 20px">
		    <a class="nav-link" href="/cluster" style="font-size: 24px">Compute</a>
		  </li>
		  <li class="nav-item" style="margin-right: 20px">
		    <a class="nav-link" target="_blank" href="https://sp3docs.mmmoxford.uk/" style="font-size: 24px">Document</a>
		  </li>
		  <li class="nav-item" style="margin-right: 20px">
		    <a class="nav-link" href="https://sp3forum.mmmoxford.uk" style="font-size: 24px; padding-left: 0; ">Forum</a>
		  </li>
		  <li class="nav-item" style="margin-right: 20px">
		    <a class="nav-link" href="https://sp3forum.mmmoxford.uk/post/new?post_template=issue" style="color: tomato; font-size: 24px">Report issue</a>
		  </li>
		  {% if is_admin %}
		    <li class="nav-item" style="margin-right: 20px">
		      <a class="nav-link" href="/admin" style="font-size: 24px">Admin</a>
		    </li>
		  {% endif %}
		{% endif %}
		</ul>
              </div>
            </span>
            <p>
              {% if current_user.is_authenticated %}
		<a href="/userinfo/{{ current_user.id }}"><span class="login">{{current_user.id }}</span></a>
		<a href="/logout"><span class="btn-sm btn-primary">Logout</span></a>
              {% endif %}
            </p>
	  </div>
	</nav>
      {% endblock navbar %}
      <br />
      {% block content %}
      {% endblock content %}
      {% block scripts %}
      {% endblock scripts %}
      {% block footer %}
	<br>
	<hr>
	<footer>
	  <p>Version {{ catweb_version }} - Developed by <a href="mailto:denis.volk@ndm.ox.ac.uk">Denis Volk</a> and <a href="mailto:fan.yang-turner@ndm.ox.ac.uk">Fan Yang</a> © 2021 - Modernising Medical Microbiology, Nuffield Department of Medicine, University of Oxford</p>
	</footer>
      {% endblock footer %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	    crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		    crossorigin="anonymous"></script>
		    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			    crossorigin="anonymous"></script>
			    <script src="/static/scripts/jquery.tablesorter.js"></script>
			    <script src="/static/scripts/site.js"></script>
  </body>
</html>
