{% extends "base1.template" %}
{% block content %}

<h4><a href="/blog">&lt;- back</a></h4>

<h3>{{ post[2] }}</h3>
<small>
  <p>Posted on {{ post[3]|epochtodate }} by {{ post[1] }} {% if is_admin %} <a href="/blog/edit/{{ post[0] }}">Edit</a> {% endif %}</p>
</small>

<div>{{ post[4] }}</div>

{% endblock %}
