{% extends 'base1.template' %}

{% block content %}
<div class="container">
  <h4>List of phylogenetics trees</h4>
  {% if pipeline_run_uuid and sample_name %}
    <p>List contains trees containing sample <strong>{{ sample_name }}</strong> in pipeline run id <strong>{{ pipeline_run_uuid }}</strong></p>
  {% endif %}
  <br/>
   <table class="table table-hover table-sm">
     <thead>
       <tr>
	 <th>Name</th>
         <th>Status</th>
	 <th>Count</th>
	 <th>Added time</th>
	 <th>Started time</th>
	 <th>Duration</th>
<!--	 <th>Organisation</th> -->
	 <th>Action</th>
       </tr>
     </thead>
     <tbody>
        {% for tree in trees %}
         <tr>
	   <td>{{ tree[1] }}</td>
	   <td>{{ tree[3] }}</td>
	   <td>{{ tree[4] }}</td>
	   <td>{{ strftime("%d-%m-%Y %H:%M", localtime(tree[5])) }}</td>
	   {% if tree[6] > 0 %}
	     <td>{{ strftime("%d-%m-%Y %H:%M", localtime(tree[6])) }}</td>
	   {% else %}
	     <td></td>
	   {% endif %}
	   {% if tree[7] > 0 %}
	     <td>{{ tree[7]-tree[6] }} s</td>
	   {% else %}
	     <td></td>
	   {% endif %}
<!--	   <td>{{ tree[9] }}</td> -->
	   {% if tree[7] > 0 %}
	     <td><a href="/view_tree/{{ tree[0] }}">View tree</a></td>
	   {% else %}
	     <td></td>
	   {% endif %}
         </tr>
      {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
