<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey">
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
      <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
      <span class="w3-bar-item w3-right">Oxford Scalable Pathogen Pipeline Platform (SP3)</span>
    </div>

    <div class="w3-content w3-display-middle" style="max-width:500px;">

      {% if allow_registration %}
	<p><span><b><a href="/register_sp3_user">Please click here to create your account</a></b></span></p>
      {% endif %}
      {% if msg %}
	<div class='w3-card w3-panel w3-red'><p><strong>Error: {{ msgs[msg] }}</strong><p></div>
      {% endif %}

      <form action="login" method="post">
	<label>Username</label>
	<input class="w3-input" type="text" id="username" name="username" placeholder="Username"><br>
	<label>Password</label>
	<input class="w3-input" type="text" id="password" name="password" type="password" placeholder="Password"><br>
	<input type="submit" value="Log in" class="w3-button w3-blue"/>
      </form>

    </div>

    <!-- Footer -->
    <footer class="w3-container w3-light-grey" style="position: fixed; bottom: 10px;">
      <h4>About</h4>
      <p>Version 0.7-309-gf24e7c1-dirty - Developed by <a href="mailto:denis.volk@ndm.ox.ac.uk">Denis Volk</a> and <a href="mailto:fan.yang-turner@ndm.ox.ac.uk">Fan Yang</a> © 2021 - Modernising Medical Microbiology, Nuffield Department of Medicine, University of Oxford</p>
    </footer>

    <!-- End page content -->
</div>
</body>
</html>
