<!DOCTYPE html>
<html style="height: 100%;">
  <title>Oxford Scalable Pathogen Pipeline Platform (SP3)</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey" style="background-image: url('/static/_DSC1218-3.jpg'); height: 100%; background-repeat: no-repeat; background-size: cover;">
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
      <span class="w3-bar-item w3-right">Oxford Scalable Pathogen Pipeline Platform (SP3)</span>
    </div>

    <div class="w3-content w3-display-middle" style="width:300px; background-color: #fff; padding: 20px;">

      <h2>Sign in</h2>
      {% if msg %}
	<div class='w3-card w3-panel w3-red'><p><strong>Error: {{ msgs[msg] }}</strong><p></div>
      {% endif %}
      <form action="/login" method="post" style="display:inline">
	<label>Username</label>
	<input class="w3-input" type="text"     id="username" name="username" placeholder="Username" minlength=3><br>
	<label>Password</label>
	<input class="w3-input" type="password" id="password" name="password" placeholder="Password"><br>
	<input type="submit" value="Continue" class="w3-btn w3-blue"/>
      </form>
      {% if allow_registration %}
	<a href="/register_sp3_user"><button class="w3-btn w3-green">Register</button></a>
      {% endif %}

    </div>

    <!-- End page content -->
<!-- Footer -->
<div class="w3-bar w3-bottom w3-white w3-large" style="z-index:4">
  <span class="w3-bar-item w3-left">Version {{ catweb_version }} - by <a href="mailto:denis.volk@ndm.ox.ac.uk">Denis Volk</a> and <a href="mailto:fan.yang-turner@ndm.ox.ac.uk">Fan Yang</a></span>
</div>
</div>
</body>
</html>
