{% extends "base1.template" %}
{% block content %}

  <div class="w3-container">
  <h2>Fetch Dataset</h2>

  {% for k,v in sources.items() %}
    <div class="w3-panel w3-card">
      <h3><a href="/fetch_data2/{{ k }}">{{ v['display_name'] }}</a></h3>
      <p>{{ v['description'] }}</p>
    </div>
  {% endfor %}

{% endblock content %}
