<p>Report generated on: <strong>{{ nfnvm_flureport['finished_epochtime'] }}</strong></p>

<div class='row'>
  <div class='col-md-4'>
    <table class="table table-sm table-bordered">
      {% for k, v in nfnvm_flureport['table'].items() %}
      <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  </div>
</div>
