<p>Report generated on: <strong>{{ report['nfnvm_kronareport']['finished_epochtime'] }}</strong></p>
<a href="{{ report['nfnvm_kronareport']['download_url'] }}"><img style="width:35px;height:30px" src='/static/krona.png' alt='Krona Report'>view Krona report</a>
<hr>
