{% extends "base1.template" %}

{% block content %}

<h2>SP<sup>3</sup> Report</h2>

<p>Sample name: <strong>{{ dataset_id  }}</strong></p>
<p>Pipeline run uuid: <strong>{{ pipeline_run_uuid }}</strong></p>
{% if 'pick_reference' in report and report['pick_reference']['data']['pick_taxid'] == "NC_000962.3" %}
<p><a href="/cw_query?run_id={{ pipeline_run_uuid }}&sample_name={{ dataset_id }}&distance=12">Query genetic neighbourhood server (not avaiable until the next day)</a></p>
{% endif %}
<p><a href="/list_trees?pipeline_run_uuid={{ pipeline_run_uuid }}&sample_name={{ dataset_id }}">List trees containing this sample (and run)</a></p>
<hr/>

{% if report['catpile_metadata'] %}
  <h3>Metadata</h3>
  {% include 'report_templates/catpile_metadata.template' %}
{% endif %}

{% if report['kraken2_speciation'] %}
  <h3>Kraken2</h3>
  {% include 'report_templates/kraken2_speciation.template' %}
{% endif %}

{% if report['mykrobe_speciation'] %}
  <h3>Mykrobe speciation</h3>
  {% include 'report_templates/mykrobe_speciation.template' %}
{% endif %}

{% if report['pick_reference'] %}
  <h3>Reference</h3>
  {% include 'report_templates/pick_reference.template' %}
{% endif %}

{% if report['samtools_qc'] %}
  <h3>Samtools QC</h3>

  {% include 'report_templates/samtools_qc.template' %}
{% endif %}

{% if report['resistance'] %}
  <h3>Resistance</h3>
  {% if report['resistance']['status'] == 'success' %}
  {% include 'report_templates/resistance.template' %}
  {% else %}
  <p>Resistance report generation failed. If you believe this is an error, please contact the administrators.</p>
  <!-- {{ report['resistance'] }} -->
  {% endif %}
{% endif %}

{% if report['relatedness'] %}
  <h3>Relatedness</h3>

  {{ relatedness }}
{% endif %}

{% if report['nfnvm_nanostats_qc'] %}
  <h3>Data quality summary</h3>

  {% include 'report_templates/nfnvm_nanostats_qc.template' %}
{% endif %}

{% if report['nfnvm_kronareport'] %}
  <h3>Taxonomic assignment of reads</h3>

  {% include 'report_templates/nfnvm_krona.template' %}
{% endif %}

{% if report['nfnvm_flureport'] %}
  <h3>Influenza identification</h3>

  {% include 'report_templates/nfnvm_flureport.template' %}
{% endif %}

{% if report['nfnvm_viralreport'] %}
  <h3>Organism identification</h3>

  {% include 'report_templates/nfnvm_viralreport.template' %}
{% endif %}

{% if report['nfnvm_map2coverage_report'] %}
  <h3>Mapping Coverage Report</h3>

  {% include 'report_templates/nfnvm_map2coveragereport.template' %}
{% endif %}

{% if report['nfnvm_resistance_report'] %}
  <hr>
  <h3>Identification of influenza drug-resistant mutations</h3>

  {% include 'report_templates/nfnvm_resistance.template' %}
{% endif %}

{% if report['run_distmatrix'] %}
  <h3>Neighbours within dataset</h3>

  {% include 'report_templates/snps_within_dataset.template' %}
{% endif %}

{% endblock content %}
