<p>Report generated on: <strong>{{ samtools_qc['finished_epochtime'] }}</strong></p>

<div class='row'>
  <div class="col-md-8">
    <table class="table table-sm table-bordered">
      <thead>
	<th>Type</th>
	<th>Value</th>
      </thead>
      <tbody>
	{% for k,v in samtools_qc.items() %}
	{% if k not in  ['finished_epochtime', 'tsv'] %}
	  <td>{{ k[:-1]|capitalize }}</td>
	  <td>{{ v }}</td>
	</tr>
	{% endif %}
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

