{% extends 'base1.template' %}

{% block content %}
<h4>Account Info</h4>

<table class="table table-hover table-sm">
  <thead>
  </thead>
  <tbody>
    {% for k,v in userinfo.items() %}
    {% if k != "password" %}
    <tr>
      <td>{{ k }}</td>
      <td>{{ v }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<a href="/password"><button type="button" class="btn btn-primary">Change Password</button></a>

{% endblock %}
