{% extends "base1.template" %}
{% block header %}

  <header class="w3-container w3-green">
    <h1>Pipeline configuration</h1>
  </header>

{% endblock header %}

{% block content %}

  <div class="w3-container w3-panel w3-white">
    <h2>Configuration file content</h2>
    <p>
      <textarea class="w3-input" style="font-family: monospace;" rows=30 name="config">{{ config_yaml }}</textarea>
    </p>
  </div>
{% endblock content %}
