{% extends "base1.template" %}
{% block content %}

<h2>Pipeline configuration file</h2>
  <textarea style="font-family: monospace; width: 100%;" rows=30 name="config">{{ config_yaml }}</textarea>
{% endblock content %}
