<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    h2 {
        font-size: 1.5em;
    } 
    body { 
        margin: 15px; 
    } 
    th, td { 
        padding: 10px; 
    } 
    table { 
	width: 100%; 
	font-family: monospace; 
	border-collapse: collapse;
    }
    table, th, td { 
        text-align: left; 
        border-collapse: collapse; 
        border: 1px solid #ddd 
    }
  </style>
</head>

<body>

<div class="container">
<!--  <h1><a href="/ui/">Fetch Manager</a></h1> -->

{% block content %}
{% endblock content %}

</div>
</body>

</html>
