.navbar-expand-sm{
    padding-left:0px;
}

.navbar-brand{
    font-size: 36px
}

.container{
    padding-left:0px;
    padding-bottom: 10px; 
}


.action{
    margin: 10px;
}

.text-input{
    font-family: monospace;
}
.login{
    color: black; 
    padding: 3px; 
    border-radius: 5px; 
}
#banner{
    display: inline-block; 
    vertical-align: baseline;
}
#context{
    border-radius: 5px;
    padding: 3px; 
    background-color: #cac"
}
