<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white tablesorter tablesorter-default">
  {% for k,v in report['catpile_metadata']['data'].items() %}
  {% if k not in ['original_file_sha512', 'clean_file_sha512'] %}
  <tr>
    <td><b>{{ k }}</b></td>
    <td>{{ v }}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
