<p>Report generated on: <strong>{{ report['nfnvm_nanostats_qc']['finished_epochtime'] }}</strong></p>

<div class='row'>
  <div class='col-md-4'>
    <table class="table table-sm table-bordered">
      {% for k, v in report['nfnvm_nanostats_qc']['data'].items() %}
      <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  </div>
</div>
<hr>