<p>Report generated on: <strong>{{ report['nfnvm_flureport']['finished_epochtime'] }}</strong></p>

<div class='row'>
  <div class='col-md-4'>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white tablesorter tablesorter-default">
      {% for k, v in report['nfnvm_flureport']['data'].items() %}
      <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  </div>
</div>
<hr>
