<p>Report generated on: <strong>{{ report['nfnvm_viralreport']['finished_epochtime'] }}</strong></p>

<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white tablesorter tablesorter-default" >
  <thead>
    {% for head in report['nfnvm_viralreport']['head'] %}
    {% if head.strip() %}
    <th>{{ head }}</th>
    {% endif %}
    {% endfor %}
  </thead>
  <tbody>
    {% for row in report['nfnvm_viralreport']['data'][:-1] %}
    <tr>
      {% for elem in row %}<td>{{ elem }}</td>{% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
      
