<p>Report generated on: <strong>{{ report['samtools_qc']['finished_epochtime'] }}</strong></p>

<div class="w3-row">
  <div class="w3-half">
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <thead>
	<th>Type</th>
	<th>Value</th>
      </thead>
      <tbody>
	  {% for k,v in report['samtools_qc']['data'].items() %}
	    <tr>
	      <td>{{ k[:-1]|capitalize }}</td>
	      <td>{{ v }}</td>
	    </tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div class="w3-container w3-half">
  </div>
</div>

