<!doctype html>
<html lang="en">

  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	  crossorigin="anonymous">
    <script type="text/css" src="css/site.css"></script>
    <title>Oxford SP3</title>
    <style>
      body {
      font-size: 0.9em;
      padding-top: 10px;
      }
      pre {
      white-space: pre-wrap;
      }
    </style>
    {% endblock head %}
  </head>

  <body>
    <div class="container">
      {% block navbar %}
      <nav style="padding: 0px"  class="navbar navbar-expand-sm navbar-light">
	    <div class="d-flex w-100 justify-content-between">
      <span id="banner">
        <img style="width: 160px; height: 85px; float: left;" src="/static/mmmlogo_small.png">
        <h1 style="position: relative; top: 10px; left: 10px;">
          <a href="/" style="text-decoration: none; color: black">Oxford SP<sup>3</sup></a>
        </h1>
        <p style="position: relative; left: 12px;">Oxford Scalable Pathogen Pipeline Platform</p>      
      </span>
	    </div>
      </nav>
    {% endblock navbar %}
    <br />
    {% block content %}
    {% endblock content %}
    {% block footer %}
      <br>
      <hr>
      <footer>
	    <p>Version {{ nfweb_version }} - Developed by <a href="mailto:denis.volk@ndm.ox.ac.uk">Denis Volk</a> and <a href="mailto:fan.yang-turner@ndm.ox.ac.uk">Fan Yang</a> © 2020 - Modernising Medical Microbiology, Nuffield Department of Medicine, University of Oxford</p>
      </footer>
    {% endblock footer %}
    </div>
  </body>
</html>