[Unit]
Description=SP3 Catweb UI port %i

[Service]
KillMode=process
WorkingDirectory=/home/ubuntu/sp3/catweb
ExecStart=/home/ubuntu/env/bin/python /home/ubuntu/sp3/catweb/ui.py --port %i
