[Unit]
Description=SP3 Catweb UI port 7000

[Service]
KillMode=process
WorkingDirectory=/home/ubuntu/sp3/catweb
ExecStart=/home/ubuntu/env/bin/python /home/ubuntu/sp3/catweb/ui.py --port 7000
